<h1>this is the rooms page</h1>
<div class= "container">
  <% @rooms.each do |room| %>
    <ul>
      <li>
        <%# <%= room.name %>
        <%# <%= room.id %> 
        <%= link_to room.name, user_room_show_path(1,room.id) %>
      </li>
    </ul>
  <% end %>
</div>